<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlias.mapper.EmpMapper">

    <!-- 条件查询员工信息 -->
    <select id="list" resultType="com.tlias.entity.Emp">
        select * from tb_emp
        <where>
            <if test="name != null and name != ''">
                name like concat("%", #{name}, "%")
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
               and between #{begin} and #{end}
            </if>

        </where>
        order by update_time desc
    </select>
    <!-- 批量或单条删除员工 -->
    <delete id="deleteByIds">
        delete from tb_emp where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 新增员工 -->
    <insert id="insertEmp">
        insert into tb_emp(username, name, gender, image, job, entrydate, dept_id, create_time, update_time)
            values(#{username}, #{name}, #{gender}, #{image}, #{job}, #{entrydate}, #{deptId}, #{createTime}, #{updateTime})
    </insert>
</mapper>