<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tlias.Mapper.EmpMapper">
    <!--  查询员工信息，姓名支持模糊查询，性别已经入职时间范围查询  -->
    <select id="list" resultType="com.tlias.pojo.Emp">
        select * from emp
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>
    <!--  删除员工或者多个员工  -->
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--  新增员工  -->
     <insert id="insertEmp">
        insert into emp(username, name, gender, dept_id, image, job, entrydate, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{deptId}, #{image}, #{job}, #{entrydate}, #{createTime}, #{updateTime})
    </insert>
</mapper>