<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlias.mapper.TestEmpMapper">

    <select id="queryListEmp" resultType="com.tlias.entity.Emp">
        select * from emp where name like concat('%', #{name}, '%') and gender = #{gender} and entrydate between #{beginDate} and #{endDate}
    </select>

    <select id="queryListEmpDynamic" resultType="com.tlias.entity.Emp">
        select * from emp
        <where>
            <if test="name != null">
                name like concat("%", #{name}, "%")
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="beginDate != null and endDate != null">
                and entrydate between #{beginDate} and #{endDate}
            </if>
        </where>
    </select>

    <update id="updateByEmpIdDynamic">
        update emp
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <delete id="deleteByBatchEmpIds">
        delete from emp where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>